{% extends "base.html" %}
{% load i18n %}

{% block page_title %}about{% endblock %}

{% block content %}
<div class="about-container">
    <section id="about">
      <div class="container text-white">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h3>このWebアプリについて</h3><BR>
            <p class="lead">このWebアプリでは、フォームに入力されたGitHubリポジトリのスター数をGitHub APIより取得してグラフで比較することができます。</p><BR>
            <h5>使い方</h5>
            <p class="lead">①トップページのフォームに比較したいリポジトリを入力します。</p>
            <ul>
                <li>※1 リポジトリは2つ以上の入力が必要です。</li>
                <li>※2 入力文字列をあいまい検索します。（ヒットした文字列でスター数が多いものを取得）</li>
            </ul>
            <p class="lead">②「スター数を比較する」ボタンを押す。</p>
            <p class="lead">③①で入力されたリポジトリのGitHub上のスター数をグラフで表示します。グラフをタッチ(クリック)するとスター数を表示することができます。</p>
            <ul>
                <li>Daily  :当日0:00時点のスター</li>
                <li>Monthly:毎月1日時点のスター数</li>
            </ul><BR>
            <h5>開発者について</h5><BR>
            <p class="lead">IT業界での経験は10年以上、メインフレームコンピュータなどのレガシーな環境での開発に従事。 WebエンジニアへのJOBチェンジを目指して2018年11月よりPythonの学習を開始しました。これが開発した最初のWebアプリです。</p>
          </div>
        </div>
      </div>
    </section>
</div>

{% endblock %}
