{% extends "base.html" %}
{% load i18n %}

{% block page_title %}terms{% endblock %}

{% block content %}
<div class="term-container">
    <section id="terms">
      <div class="container text-white">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Terms of service</h2>
                <p class="lead">Please read these terms of service carefully before using "this Website"("service") operated by hayatek.com ("us", 'we", "our"). These terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all Terms of Service written in here. You must not use this Website if you disagree with any of these Website's Terms of Service.</P>
                <h4>Intellectual Property Rights</h4>
                <p class="lead">Other than the content you own, under these Terms, this Website and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>
                <p class="lead">You are granted limited license only for purposes of viewing the material contained on this Website.</p>
                <h4>Restrictions</h4>
                <p class="lead">You are specifically restricted from all of the following:</p>
                <ul>
                    <li>publishing any Website material in any other media</li>
                    <li>Selling, sublicensing and/or otherwise commercializing any Website material</li>
                    <li>Publicly performing and/or showing any Website material</li>
                    <li>Using this Website in any way that is or may be damaging to this Website</li>
                    <li>Using this Website in any way that impacts user access to this Website</li>
                    <li>Using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity</li>
                    <li>Using this Website to engage in any advertising or marketing</li>
                    <li>Certain areas of this Website are restricted from being access by you and this Website may further restrict access by you to any areas of this Website, at any time, in absolute discretion</li>
                </ul>
                <h4>No warranties</h4>
                <p class="lead">This Website is provided “as is,” with all faults, and we express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>
                <h4>Indemnification</h4>
                <p class="lead">You hereby indemnify to the fullest extent this Website from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>
                <h4>Variation of Terms</h4>
                <p class="lead">this Website is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>
                <h4>Assignment</h4>
                <p class="lead">This Website is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>
                <h4>Entire Agreement</h4>
                <p class="lead">These Terms constitute the entire agreement between this Website and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>
                <h4>Governing Law & Jurisdiction</h4>
                <p class="lead">These Terms will be governed by and interpreted in accordance with the laws of Japan, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Japan for the resolution of any disputes.</p>
            </div>
        </div>
    </div>
</div>
    </section>
</div>
{% endblock %}
