{% extends "base.html" %}
{% load i18n %}

{% block page_title %}terms{% endblock %}

{% block content %}
<div class="term-container">
    <section id="terms">
      <div class="container text-white">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h3>利用規約</h3>
            <p class="lead">この利用規約（以下，「本規約」）は，django-starchart.herokuapp.com（以下，「当サイト」）がこのウェブサイト上で提供するサービス（以下，「本サービス」）の利用条件を定めるものです。ユーザーの皆さま（以下，「ユーザー」）には，本規約に従って，本サービスをご利用いただきます。</P>
            <p class="lead">第1条（適用）</p>
            <p class="lead">本規約は，ユーザーと当サイトとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</P>
            <p class="lead">第2条（禁止事項）</p>
            <p class="lead">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
            <ul>
                <li>法令または公序良俗に違反する行為</li>
                <li>犯罪行為に関連する行為</li>
                <li>本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為</li>
                <li>当サイト，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
                <li>本サービスによって得られた情報を商業的に利用する行為</li>
                <li>当サイトのサービスの運営を妨害するおそれのある行為</li>
                <li>不正アクセスをし，またはこれを試みる行為</li>
                <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
                <li>不正な目的を持って本サービスを利用する行為</li>
                <li>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為</li>
                <li>他のユーザーに成りすます行為</li>
                <li>当サイトが許諾しない本サービス上での宣伝，広告，勧誘，または営業行為</li>
                <li>面識のない異性との出会いを目的とした行為</li>
                <li>当サイトのサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
                <li>その他，当サイトが不適切と判断する行為</li>
            </ul>
            <p class="lead">第3条（本サービスの提供の停止等）</p>
            <p class="lead">当サイトは，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
            <ul>
                <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
                <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
                <li>コンピュータまたは通信回線等が事故により停止した場合</li>
                <li>その他，当サイトが本サービスの提供が困難と判断した場合</li>
            </ul>
            <p class="lead">当サイトは，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</p>
            <p class="lead">第4条（免責事項）</p>
            <p class="lead">当サイトは，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
                当サイトは，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。当サイトは，当サイトの過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当サイトまたはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。
                当サイトは，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</p>
            <p class="lead">第5条（サービス内容の変更等）</p>
            <p class="lead">当サイトは，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</p>
            <p class="lead">第6条（利用規約の変更）</p>
            <p class="lead">当サイトは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。</p>
            <p class="lead">以上</p>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}
