{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{% static "chart/css/style.css" %}" rel="stylesheet">

    <title>StarChart</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top" id="topNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">StarChart</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#mostviewed">MostViewed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>
              Githubリポジトリのスター数を比較してみよう。
           </h2>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">StarChartはスター数が10,000以上のリポジトリを対象にしたスター数比較アプリです。</p>
            <a class="btn btn-outline-primary js-scroll-trigger" href="#search">さっそく使ってみる</a>
          </div>
        </div>
      </div>
    </header>
    <section class="bg-search text-center" id="search">
        <div class="container">
          <h3 class="jumbotron-heading">比較したいGithubのリポジトリを入力してみよう。</h3>
            <div class="d-flex justify-content-center align-items-center">
              <div class="row">
                  <form>
                      <div class="form-group">
                        <label for="repository1">リポジトリ1</label>
                        <input type="text" class="form-control" id="repository1" placeholder="リポジトリを入力">
                      </div>
                      <div class="form-group">
                        <label for="repository2">リポジトリ2</label>
                        <input type="text" class="form-control" id="repository2" placeholder="リポジトリを入力">
                      </div>
                      <div class="form-group">
                        <label for="repository3">リポジトリ3</label>
                        <input type="text" class="form-control" id="repository3" placeholder="リポジトリを入力">
                      </div>
                      <button type="submit" class="btn btn-primary">スター数を確認</button>
                  </form>
              </div>
            </div>
        </div>
      </section>
    <section class="bg-viewed text-center" id="mostviewed">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Most Viewed</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#search">Get Started!</a>
          </div>
        </div>
      </div>
    </section>



    <!-- Optional JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{% static "chart/js/starchart.js" %}"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
