{% extends "base.html" %}

{% block page_title %}chart{% endblock %}

{% block content %}
<div class="chart-container">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="jumbotron">
        <h4 class="font-weight-light">Githubのスター数</h4>
        <div class="lastupdate">
            <i class="material-icons calendar">calendar_today</i>
            <p>Last Update:{{ last_fetched_date }}</p>
        </div>
          <div class="chartjs-container">
            <canvas id="myChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var labels = ["{{ dict.0.name_owner }}",
                          "{{ dict.1.name_owner }}",
                          "{{ dict.2.name_owner }}"]
            var defaultData = ["{{ dict.0.star_count }}",
                               "{{ dict.1.star_count }}",
                               "{{ dict.2.star_count }}"]
            var myLineChart = new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                labels: labels,
                datasets: [
                  {
                    label: 'Repositoryのスター数',
                    data: defaultData,
                    backgroundColor: ['#1BC98D','#9F85FF','#1A97C6'],
                    borderColor: '#ffffff'
                  },
                ],
              },
              options: {
                legend: { display: false },
                data: {
                      labels: {
                          fontColor: '#ffffff'
                      }
                },
                title: {
                  display: true,
                  fontColor: '#ffffff'
                },
                scales: {
                 xAxes: [{
                    ticks: {
                       beginAtZero: true
                    }
                 }]
                },
              },
              plugins: [{
                beforeInit: function (chart) {
                  chart.data.labels.forEach(function (item, i, a) {
                    if (item.length > 5) {
                        a[i] = item.split("/");
                        console.debug(a[i]);
                    }
                  })
                }
              }]
            });
            </script>
            <div class="chart-btn">
            <a href="{% url 'chart:chart_new' %}" class="btn btn-primary btn-sm">別の条件で比較する</a>
            </div>
            <div class="chart-btn">
            <a href="/#access" class="btn btn-primary btn-sm">ランキングに戻る</a>
            </div>
           </div>
           </div>
         </div>
      </div>
    </div>
</div>
{% endblock content%}
