{% extends "base.html" %}

{% block page_title %}home{% endblock %}

{% block content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h3 class="font-weight-light">Githubリポジトリのスター数を比較してみよう。</h3>
        <p class="lead">スター数10,000以上のリポジトリが対象です。</p>
        <div class="d-flex justify-content-center align-items-center">
          <div class="row">
              <form method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group">
                        <label class="control-label" for="{{ field.name }}">
                            {{ field.label }}</label>
                                  <input type="" class="form-control"
                                         name="{{ field.name }}"
                                         id="{{ field.name }}">
                    </div>
                    {% if field.errors %}
                        <p class="red message" id="{{ field.name }}">
                            {{ field.errors.0 }}</p>
                    {% endif %}
                  {% endfor %}
                  <div class="form-group text-center" style="padding:20px 0">
                      <input type="submit" value="スター数を比較する" class="btn btn-outline-primary btn-sm"/>
                  </div>
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>
{% endblock %}
