{% extends "base.html" %}

{% block page_title %}home{% endblock %}

{% block content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="jumbotron">
        <h4 class="font-weight-light">Githubリポジトリのスター数を比較してみよう。</h4>
        <div class="lastupdate">
            <i class="material-icons calendar">calendar_today</i>
            <p>Last Update:{{ last_fetched_date }}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="row">
              <form method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group">
                        <label class="control-label" for="{{ field.name }}">
                            {{ field.label }}</label>
                                  <input type="" class="form-control"
                                         name="{{ field.name }}"
                                         id="{{ field.name }}"
                                         placeholder="{{ field.help_text }}">
                    </div>
                    {% if field.errors %}
                        <p class="red-message" id="{{ field.name }}">
                            {{ field.errors.0 }}</p>
                    {% endif %}
                  {% endfor %}
                  <div class="form-group text-center">
                  <input type="submit" value="スター数を比較する" class="btn btn-primary btn-lg"/>
                  </div>
              </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="ranking" id=access>
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <div class="access-ranking">
                <i class="material-icons access">bar_chart</i>
                <h4 class="font-weight-light">Access Ranking</h4>
            </div>
                {% for field in access %}
                <div class="card">
                  <div class="card-body">
                    <img src={{ field.avatar_url1 }}><BR>
                    <span>{{ field.name_owner1 }}</span><BR>
                    {% if field.name_owner2 %}
                    <img src={{ field.avatar_url2 }}><BR>
                    <span>{{ field.name_owner2 }}</span><BR>
                    {% endif %}
                    {% if field.name_owner3 %}
                    <img src={{ field.avatar_url3 }}><BR>
                    <span>{{ field.name_owner3 }}</span><BR>
                    {% endif %}
                    <div class="btn-card">
                        <a href={% url 'chart:chart_detail' field.id %} class="btn btn-primary btn-sm">スター数を比較する</a>
                    </div>
                  </div>
                  <div class="card-footer">
                    <i class="material-icons eye">remove_red_eye</i>
                    <span>Watch:</span>
                    <span>{{ field.access_count }}</span>
                  </div>
                 </div>
                {% endfor %}
            </div>
        </div>
      </div>
</section>
{% endblock %}
