body {
  font-family: "Open Sans", "Noto Sans Japanese", Avenir, "Helvetica Neue",
  Helvetica, Arial, Verdana, "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo,
  "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;
  background: #7153D5;
  text-align:center;
}

/* ---------navigation ---------*/
.navbar{
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana;
    background: #4D3593 !important;
}

ul.navbar-nav li{
  background-color: transparent;
}

/* ---------form ---------*/
.masthead {
  margin-top: 75px;
  height: calc(100vh - 55px);
  width: 100%;
  min-width:  100px;
  min-height: 500px;
  color:#fff;
}

.masthead h4{
    margin-right: 10px;
    margin-left: 10px;
}

.lang i{
    margin-top: 2px;
    margin-right: 2px;
}

.lang form{
    width: 160px;
    display: flex;
    justify-content: center;
}

.lang input{
    margin-left: 10px;
}

.lang select {
    width: 160px;
    background: #fff;
    cursor: pointer;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 2px;
}

.lang::before {
	position: absolute;
	top: 0.7rem;
	right: 0;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}

.lang {
    width: 60px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
	position: relative;
	border-radius: 2px;
	background: #ffffff;
}

.lastupdate{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

.material-icons.calendar{
    font-size: 20px;
}

.control-label{
    justify-content: center;
    display: flex;
}

.form-control{
    background:#F3E5F5;
    height: 2.5rem !important;
}

.form-control.placeholder{
    color: #fff;
}

.red-message{
    color: #FE6663;
}

.btn-lg {
    margin: 10px auto;
    border-radius: 5px !important;
    width: 19rem !important;
    height: 2.4rem !important;
    font-size: 1.1rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited {
    background-color: #F97B86 !important;
    border: none;
}

.btn-primary:hover,.btn-primary:active{
    background-color: #EF9A9A !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:visited {
    background-color: #ABA59B !important;
    border: none;
}

.btn-secondary:hover,.btn-secondary:active{
    background-color: #D3CCC5 !important;
}

.lang .btn-sm{
    width: 70px !important;
}

/* ---------about ---------*/
.about-container{
    margin-top:100px;
    margin-bottom:10px;
}

.about-container li{
    list-style: none;
}

.about-container .container{
    text-align: left;
}

.about-container .container p{
    font-size: 1em;
}

.about-container .container li{
    font-size: 1em;
}

.about-container .container a{
    color: #fff;
}

.term-container{
    margin-top:64px;
}

.term-container .container{
    text-align: left;
}

.term-container .container p{
    font-size: 1em;
}

.term-container .container li{
    font-size: 1em;
}

/* ---------chart ---------*/
.chart-container {
    margin-top:54px;
    padding-top: 5px;
    width: 100vw;
    color: #212529;
    background: #AEA4FA;
}

.chartjs-container {
    margin: 10px;
}

.barchart-container .card{
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.linechart-container .card{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.git-btn-group {
    margin-left:  10px;
    margin-right:  10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.git-btn-group .card{
    margin-bottom: 10px;
    color: #999999;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.git-btn-group .card-footer{
    justify-content: center;
    display: flex;
    height: 8vh;
    min-height: 50px;
}

.git-btn-group .card-footer p{
    margin-left:  12px;
    margin-top:  5px;
}

.git-btn-group .card-footer.card-1{
    background: #64B5F6;
    color: #fff;
}

.git-btn-group .card-footer.card-2{
    background: #F06292;
    color: #fff;
}

.git-btn-group .card-footer.card-3{
    background: #1BC98D;
    color: #fff;
}

.git-btn-group .card-footer span{
    margin-left:  12px;
    font-size: 25px;
}

.chart-btn-group{
    margin-top:20px;
    padding-bottom: 35px;
    justify-content: center;
    display: flex;
}

.chart-btn{
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.btn-sm{
    width: 150px !important;
}

.btn-success, .btn-success:hover, .btn-success:visited {
    background-color: #F97B86 !important;
    border: none;
}

.btn-success:hover,.btn-success:active{
    background-color: #EF9A9A !important;
}

.btn-info, .btn-info:hover, .btn-info:visited {
    background-color: #31B184 !important;
    border: none;
}

.btn-info:hover,.btn-info:active{
    background-color: #64D5A8 !important;
}

a.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

/* ---------ranking ---------*/
.ranking{
    background: #B3F2CD;
    padding-top:50px;
}

.access-ranking{
    justify-content: center;
    display: flex;
}

.access-ranking h4{
    color:#fff;
    margin: 14px 16px 14px 0px;
}

.tab-header{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.nav-tabs {
    border-bottom: 1px solid #fff;
}

.material-icons.access{
    color:#fff;
    margin: 10px 5px 10px -20px;
    padding: 0 0 0 1em;
    font-size: 30px;
}

img{
    width:30px;
    height:30px;
    border-radius:15px;
}

.ranking .card {
  margin: 5px auto 12px auto;
  width: 18rem;
  background: #fff;
  border-radius: 6px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.ranking .card-body{
    padding-bottom: 0px
}

.btn-card{
    display: flex;
    justify-content: center;
    margin: 8px auto 0px auto;
}

.ranking .card-footer{
    justify-content: center;
    display: flex;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
}

.footer {
    background: #4D3593 !important;
    color: #fff; !important;
}

.footerlink-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footerlink-container span{
    margin-top: 8px;
}

@media (min-width: 576px){
}

@media (min-width: 768px) {
}

@media (min-width: 992px){
}

@media (min-width: 1200px){
    .masthead{
        margin-top: 75px;
        height: calc(100vh - 55px);
        width: 100vw;
        color:#fff;
        text-align:center;
    }

    /* ---------chart ---------*/
    .chart-container {
        height:100%;
        width:100%;
        background: #AEA4FA;
    }
    .chartjs-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .barchart-container .card{
        height: 350px;
        width:  40vw;
        margin-right: 10px;
    }

    .barchart-container  .canvas-container{
        margin-top: -20px;
    }

    .linechart-container .card{
        height: 350px;
        width:  40vw;
        margin-left:  10px;
    }

    .git-btn-group {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .git-btn-group .card{
        margin-left:  10px;
        margin-right:  10px;
        height: 120px;
        width:  26.2vw;
        display: flex;
        justify-content: flex-start;
        color: #999999;
        background-color: #fff;
        border-bottom: 1px solid #eeeeee;
        border-radius: 0.25rem 0.25rem 0rem 0rem;
    }

    .git-btn-group .card-body{
        min-height: 100px;
    }

    .git-btn-group .card-footer{
        margin-top: 0;
        margin-left:  -1px;
        max-height: 50px;
        width:  26.2vw;
        display: flex;
        justify-content: center;
    }

    .git-btn-group .card-footer p{
        margin-left:  12px;
        margin-top:  5px;
    }

    .git-btn-group .card-footer .card-1 span{
        color: #fff;
    }

    .chart-btn-group{
        margin-top: 60px;
        padding-bottom: 35px;
    }
}
